html, body, #page {height:100%;}
body {overflow-y:scroll}
#page {display:flex; flex-direction:column;}

#header {border-bottom:none;}
#container {padding:0; flex:1}
#col-aside {display:none}
#col-main {position:relative; background:none; box-shadow:none; display:flex; padding:0; flex-direction:column;}
.resizer-container {flex:1}
.store-warp {background:#444; padding:10px; display:flex; flex-direction:row; flex:1}

.file-content {padding:20px; overflow-y:scroll; display:flex;}
.file-content .prettyprint {border:none; font-family:"Source Code Pro","Courier New", serif;}
.file-content img {box-shadow: 1px 1px 10px #B3B3B3}

.prettyprint ol.linenums li {display:list-item; position:relative; list-style:decimal inside; color:#ccc;}
.prettyprint ol.linenums li:hover {background-color:#DEEFFF}
.comment-flag {display:block; position:absolute; top:0; left:-20px;}
.comment-flag:hover { cursor:pointer; color:black}

body li.L1,
body li.L3,
body li.L5,
body li.L7,
body li.L9 {background-color:#fafafa}

.resizer {overflow:hidden;}
.resizer-h {height:15px; cursor:row-resize}
.resizer-v {width:5px; cursor:col-resize}
.resizer-h:before {content:"..."; display:block; text-align:center; font-size:24px; color:#ddd; margin:-12px auto 0 auto; text-shadow:1px 1px 1px white}
.resizer-v:before {content:""; border-right:1px dotted gray; display:block; margin-top:50%; width:3px; color:#ddd}
.resizer:hover:before {color:gray;}

.cus-scroll ::-webkit-scrollbar{width:0.4rem; height:0.4rem;background: rgba(0,0,0,0);}
.cus-scroll ::-webkit-scrollbar-track{background: rgba(0,0,0,0);}
.cus-scroll ::-webkit-scrollbar-thumb {background:#89cccd; border-radius: 0.5rem;}

.file-explorer {display:flex; height:30%; overflow:hidden; margin-top:10px; padding:10px; background-color:white; border-radius:3px; border:1px solid #ddd;}
.file-explorer .data-tbl {box-shadow:none;}
.file-explorer .data-tbl .fa {margin:3px 0 0 0;}
.file-explorer .data-tbl caption {box-shadow:none;}

.repository-select {padding:5px; background-color:#555; color:#ccc;}
.repository-select select {background:none; border:none; color:#7DAAC4}

.col-file-explorer {display:flex; width:25%;}
.col-tree {flex:1; padding-right:10px; border-right:1px solid #333; width:180px; overflow:scroll;}
.col-file-list {flex:1; padding:0 10px; border-left:1px solid #555; text-shadow:1px 1px 1px #1B1B1B}

.col-code-explorer {width:75%; background-color:white; box-shadow:1px 1px 6px #000; display:flex;}
.code-explorer {display:flex; height:70%; background-color:white; overflow:hidden; border:1px solid #ddd; border-radius:3px; margin-top:10px;}
.col-file-content {flex:4; padding:20px;}
.col-comment {flex:1; padding:60px 10px 0 10px; background-color: #ccc; box-shadow:0 0 10px gray inset}

.comments {padding:10px; margin-bottom:10px; color:gray; text-shadow: 1px 1px 1px white; background-color:#eee; border-radius:5px;}
.comments li{position: relative; padding-left:40px; margin-bottom:10px;}
.comments .u {display:block; width:24px; height:24px; border-radius:50px; background:url("../img/default_avatar.png") no-repeat white center; background-size:contain; position: absolute; text-indent:-9999em; overflow: hidden; left:5px; top:5px}
.comments .date {color:#ccc; font-style:italic; font-size:10px;}

.author-name {color:#666}

.col-file-list .data-tbl tr:nth-child(odd) {background:none;}
.col-file-list .data-tbl {background:none; color:#5F5F5F; width:100%}
.col-file-list .data-tbl tr:hover td {background-color:#555;}

.col-file-content .caption {clear:both; overflow:hidden;}
.f-uri-list {float:left;}
.f-uri-list span {color:#aaa; font-weight:normal;}
.f-name {float:left;}

[data-uri],
[data-path]{color:#ccc; cursor:pointer; white-space:nowrap; line-height:1;}

.col-file-list [data-uri],
.col-file-list [data-path] {white-space: normal; word-break:break-all}

[data-path]:hover,
[data-uri]:hover {color:#2e86cd}

.tree-list {font-size:13px; color:#ccc; text-shadow:1px 1px 1px #1B1B1B}
.tree-list ul {border-left:1px dotted gray;}
.tree-list label {position:relative; padding-left:20px; margin-left:-10px;}
.tree-list li {padding-left:15px; position: relative;}
.file-active,
.tree-list li.tree-active>label {color:#77B5E6}
.tree-list .tree-toggle {cursor:pointer; display:block; position:absolute; width:12px; height:16px; overflow:hidden; margin:4px 0 0 -5px; z-index:1}
.tree-list .tree-toggle:before {content:"\f147"; display:block; color:gray; font-family: FontAwesome, serif}
.tree-list .tree-toggle:hover:before {color:white;}
.tree-list .tree-collapse .tree-toggle:before {content:"\f196"}
.tree-list .tree-collapse ul {display:none;}
.tree-list .tree-has-children:after {width:8px;}
.tree-list li:after {content:""; display:block; position:absolute; left:0; top:0; width:20px; height:13px; margin-left:-1px; border-bottom:1px dotted gray; border-left:1px dotted gray;}
.tree-list>li:after {display:none;}
.tree-list li:last-child {border-left:1px dotted #444; margin-left:-1px}
