#col-main {position:relative;}

#container {padding-top:20px;}
.resizer-container {height:600px;}
.file-content {padding:10px; overflow-y:scroll;}
.file-content .prettyprint {border:none;}
.prettyprint ol.linenums li {display:list-item; list-style:decimal inside;}

.resizer {height:15px; overflow:hidden; cursor:s-resize; position:absolute; width:100%;}
.resizer:before {content:"..."; display:block; text-align:center; font-size:24px; color:#ddd; margin:-12px auto 0 auto; text-shadow:1px 1px 1px white}
.resizer:hover:before {color:gray;}

.cus-scroll ::-webkit-scrollbar{width:0.4rem; height:0.4rem;background: rgba(0,0,0,0);}
.cus-scroll ::-webkit-scrollbar-track{background: rgba(0,0,0,0);}
.cus-scroll ::-webkit-scrollbar-thumb {background:#89cccd; border-radius: 0.5rem;}

.file-explorer {display:flex; height:30%; overflow:hidden; margin-top:10px; padding:10px; background-color:white; border-radius:3px; border:1px solid #ddd;}
.file-explorer .data-tbl {box-shadow:none;}
.file-explorer .data-tbl .fa {margin:3px 0 0 0;}
.file-explorer .data-tbl caption {box-shadow:none;}

.repository-select {padding:5px; background-color:white; border:1px solid #ddd; border-radius:3px;}
.col-tree {padding-right:20px; border-right:1px dotted #ccc; width:200px; overflow:scroll;}
.col-file-list {flex:2; margin-left:20px; border-left:1px solid #fff;}
.col-file-list-wrap,
.col-history-wrap{overflow-y:scroll; height:320px;}
.col-history {flex:2; margin-right:20px;}
.code-explorer {display:flex; height:70%; background-color:white; overflow:hidden; border:1px solid #ddd; border-radius:3px; margin-top:10px;}
.col-file-content {padding:10px; width:600px;}
.col-comment {flex:1; padding:10px;}

[data-uri],
[data-path]{color:#444; cursor:pointer; white-space:nowrap; line-height:1;}
[data-path]:hover,
[data-uri]:hover {color:#2e86cd}

.tree-list {font-size:13px; background-color:#fff;}
.tree-list ul {border-left:1px dotted gray;}
.tree-list label {position:relative; padding-left:20px; margin-left:-10px;}
.tree-list li {padding-left:15px; position: relative;}
.tree-list li.tree-active>label {font-weight:bold}
.tree-list .tree-toggle {cursor:pointer; display:block; position:absolute; width:12px; height:16px; overflow:hidden; margin:4px 0 0 -5px; z-index:1}
.tree-list .tree-toggle:before {content:"\f147"; display:block; color:gray; font-family: FontAwesome, serif}
.tree-list .tree-toggle:hover:before {color:black;}
.tree-list .tree-collapse .tree-toggle:before {content:"\f196"}
.tree-list .tree-collapse ul {display:none;}
.tree-list .tree-has-children:after {width:8px;}
.tree-list li:after {content:""; display:block; position:absolute; left:0; top:0; width:20px; height:13px; margin-left:-1px; border-bottom:1px dotted gray; border-left:1px dotted gray;}
.tree-list>li:after {display:none;}
.tree-list li:last-child {border-left:1px dotted #fff; margin-left:-1px}
